.videoresponsive {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5vh;
    padding: 1%;
    
}

.thistitle {
    font-size: 200px;
    position: relative;
    display: flex;
    margin: none;
    color: darkslateblue;
    font-weight: lighter;
    margin: 2vw;
  width: 40%;
  padding: none;
  text-align: center;
}

@media (max-width: 1024px) {

  .thistitle {
    font-size: 250px;
    overflow: scroll;
    position: relative;
    display: flex;
    margin: none;
    color: darkslateblue;
    font-weight: lighter;
    margin: 2vw;
  width: 40%;
  padding: none;
  text-align: center;

}

.videoresponsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 5vh;
  padding: 1%;
  
}

}