.gridcontainer {
  display: flex;
  padding: none;
  margin: none;
  width: 100vw;
  height: 100vh;
  align-items: stretch
}

.headcontainer {
  padding: none;
  margin: none;
}

.youtubecontainer {
  padding: none;
  margin: none;
}

.videoresponsive {
    display: inline-block;
    margin-left: 25vh;
    margin-right: 25vh;
    width: 100%;
    margin-top: 5vh;
    padding: none;
    
}

.thistitle {
    font-size: 200px;
    position: relative;
    display: flex;
    margin: none;
    color: darkslateblue;
    font-weight: lighter;
    margin: 2vw;
  width: 40%;
  padding: none;
  text-align: center;
}

@media (max-width: 700px) {

  .page-container {
    display: block;
    overflow-y: scroll;
  }

  .content-wrap {
    display: block;
    overflow-y: scroll;
  }

  .gridcontainer {
    display: grid;
    grid-template-areas:
    "a"
    "b";
  }

  .headcontainer {
    grid-area: "a";
    margin-left: 15vh;
    margin-right:10vh;
  }

  .youtubecontainer {
    grid-area: "b";
    align-items:stretch;
  }


.videoresponsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 5vh;
  padding: 1%;
  grid-gap: 10px;
  
}

.thistitle {
  font-size: 200px;
  position: relative;
  display: flex;
  color: darkslateblue;
  font-weight: lighter;
  margin: 2vw;
  width: 40%;
  padding: none;
  text-align: center;
}

}


