.gridcontainer {
  display: grid;
  align-items: center;
  margin-top: 10%;
margin-left: 0%;
margin-right: 0%;
  width: 100%;
  height: 100%;
  gap: 2%;
}

.thistitle {
    font-size: 80px;
    align-items: center;
    position: relative;
    display: inline-block;
    margin: 0%;
    color: darkgoldenrod;
    font-weight: bold;
  text-align: center;
}

.thistitlebig {
  font-size: 150px;
  align-items: center;
  position: relative;
  display: inline-block;
  margin-top: 0%;
  margin-left: 7.5%;
  margin-bottom: 5%;
  color: dodgerblue;
  font-weight: lighter;
text-align: center;
}

.homebuttoncontainer {
  margin-left: 20%;
  margin-right: 10%;
  display: inline-block;
  align-items: center;
}

.homebutton {
  width: 200px;
  height: 60px;
  background: transparent;
  color: darkgoldenrod;
  border: 4px solid dodgerblue;
  margin-left: 10%;
  margin-right: 10%;
  transition-duration: 4s;
}

.homebutton:hover {
  background-color: darkgoldenrod;
  color: black;
}

.video {   
  object-fit: cover;   
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1; 
}

@media (max-width: 1020) {

  
  .thistitle {
      font-size: 12em;
      position: relative;
      display: flex;
      margin: 0%;
      color: black;
      font-weight: lighter;
      margin: 2vw;
    width: 40%;
    padding: 0%;
    text-align: center;
  }
}


@media (max-width: 920px) {

  .gridcontainer {
    display: grid;
    padding: 0%;
    margin: 0%;
    margin: auto;
    height: 100%;
    gap: 2%;
  }


.thistitle {
  font-size: 200px;
  position: relative;
  display: flex;
  color: black;
  font-weight: lighter;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 5vh;
  padding: 1%;
  grid-gap: 10px;
}


}

@media (max-width: 550px) {

  .thistitle {
    font-size: 9em;
    position: relative;
    display: flex;
    color: black;
    font-weight: lighter;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5vh;
    padding: 1%;
    grid-gap: 10px;
  }

}

@media (max-width: 300px) {

  .thistitle {
    font-size: 6em;
    position: relative;
    display: flex;
    color: black;
    font-weight: lighter;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 5vh;
    padding: 1%;
    grid-gap: 10px;
  }

}
